
                  div#shiny-tab-home .plot-container {
                    position: relative;

                  }
                  
                  div#shiny-tab-home .card-body {
                    height:250px;
                  }
                  
                  .card-footer {
                    max-height: 200px;
                  }

                  div#social_Pike {
                    width:170px !important;
                    height:150px !important;
                  }
                  div#physical_Pike {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#positive_Pike {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#services_Pike {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#independence_Pike {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#general_Pike {
                    width:170px !important;
                  height:150px !important;
                  }

                  div#social_wallingford {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#physical_wallingford {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_wallingford {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_wallingford {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_wallingford {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_wallingford {
                  width:170px !important;
                  height:150px !important;
                  }

                  div#social_Greenwood {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#physical_Greenwood {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_Greenwood {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_Greenwood {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_Greenwood {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_Greenwood {
                  width:170px !important;
                  height:150px !important;
                  }

                  div#social_west {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#physical_west {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_west {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_west {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_west {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_west {
                  width:170px !important;
                  height:150px !important;
                  }
                  
                  div#social_Ballard {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#physical_Ballard {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_Ballard {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_Ballard {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_Ballard {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_Ballard {
                  width:170px !important;
                  height:150px !important;
                  }

                  div#social_southpark {
                    width:170px !important;
                  height:150px !important;
                  }
                  div#physical_southpark {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_southpark {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_southpark {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_southpark {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_southpark {
                  width:170px !important;
                  height:150px !important;
                  }


                  div#social_idic {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#physical_idic {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_idic {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_idic {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_idic {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_idic {
                  width:170px !important;
                  height:150px !important;
                  }

                  div#social_southeast {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#physical_southeast {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_southeast {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_southeast {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_southeast {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_southeast {
                  width:170px !important;
                  height:150px !important;
                  }

                  div#social_sunshine {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#physical_sunshine {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_sunshine {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_sunshine {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_sunshine {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_sunshine {
                  width:170px !important;
                  height:150px !important;
                  }

                  div#social_ACRS {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#physical_ACRS {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_ACRS {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_ACRS {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_ACRS {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_ACRS {
                  width:170px !important;
                  height:150px !important;
                  }


                  div#social_gwp {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#physical_gwp {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#positive_gwp {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#services_gwp {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#independence_gwp {
                  width:170px !important;
                  height:150px !important;
                  }
                  div#general_gwp {
                  width:170px !important;
                  height:150px !important;
                  }
/*
                  div#shiny-tab-home .svg-container{
                    top: -30px;
                    left:150px;
                  }*/
/*
                  div#shiny-tab-home div.card-header {
                    position:absolute;
                    top: 5%;
                    left: 27%;
                  }
                  */
                  div#shiny-tab-home div.card-header {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      margin-right: -50%;
                      transform: translate(-50%, -50%);
                  }
                  
                  div#shiny-tab-home h1 {
                    position:relative;
                    top:-3rem;
                  }
                  
                  h3.card-title {
                    font-size: 30px;
                  }
                  .attachment-block {
                    border: none;
                    background:white;
                  }

                  .attachment-img {
                    max-height: none !important;
                    max-width: none !important;
                    height: 200px !important;
                    width: 200px;
                  }

                  div#shiny-tab-home .card-body {
                    display: flex;

                    flex-direction: row;
                  }
/*
                  .info-box {
                    top: 100px;
                    left: 90px;
                    box-shadow: None !important;
                    padding: 0rem;
                  } */
                  
                  .info-box {
                    top: 2rem;
                    left: -4.5rem;
                    padding:0rem;
                    width: 200px;
                  }
                  
                  .elevation-3 {
                    box-shadow: None !important;
                  }

                  .font-weight-light {
                    color: white;
                  }
                  .info-box .info-box-icon {
                    width: 100%;
                  }

                  .info-box .info-box-content {
                    padding: 0px;
                  }
                
                

                  .card-body p {
                    position: relative;
                    top: 120px;
                    right: 70px;
                    color: white;
                    font-weight: 500;
                    font-size: 20pt;
                    }
                    
                    .info-box-text {
                      position: relative;
                      top:55%;
                      right:100%;}
                    
                    .fa-chart-bar {
                      position: relative;
                      top: -12px;
                      right: -30px;
                    }
                    
                    #Indices div.plotly {
                      height: 153px !important;
                    } 
                    
                    #shiny-tab-compare {
                      visibility:hidden;
                    }
                    
                    #shiny-tab-compare div:first-child {
                      visibility:visible;
                    }
                    
                    div#Intro {
                      position: relative;
                      top: 100px;
                      padding:1.75rem;
                    }
                    
                    h2 {
                      font-size: 2.5rem;
                    }
                    
                    .main-svg element.style {
                      background:rgb(245,245,245);
                    }
                    
                    rect.bg {
                      fill: rgb(245, 245, 245) !important;
                    
                    }
                    
                    svg.main-svg {
                      background: transparent !important;
                    }
                    
                    .col-sm-8 .card {
                      align-items: center;
                    }
                    /*
                    label:not(.form-check-label):not(.custom-file-label) {
                      font-weight:400;
                      font-size:1.5rem;
                    } */
                    
                    #SingleCenters .card-header .selectize-control {
                      width:50%;
                      left:25%;
                    }
                    
                    .item {
                      font-size: large;
                    }
                    
                    .option {
                      font-size: large;
                    }
    
                    .attachment-block .attachment-img {
                      border-radius:3px;
                    }

                    .shiny-input-radiogroup:not(.shiny-input-container-inline) {
                      width: 70%;
                    }

                    label:not(.form-check-label):not(.custom-file-label)  {
                        font-weight: 500;
                    }
                    
                    #form label:not(.form-check-label):not(.custom-file-label)  {
                        font-weight: 500;
                        width: 190%;
                    }

                    .shiny-input-container:not(.shiny-input-container-inline) {
                      width: 500px;
                    }

                    #SingleCenters .shiny-input-container:not(.shiny-input-container-inline) {
                      width: 225px;
                      text-align: center;
                    }
                    
                    #form .shiny-input-container:not(.shiny-input-container-inline) {
                      width: 270px;
                      text-align: left;
                    }
                    
                    #form label.control-label {
                      width: 500px;
                      text-align: left;  
                                          
                    }
                    
                    #loading-content {
                      position: absolute;
                      background: #000000;
                      opacity: 0.2;
                      z-index: 100;
                      left: 0;
                      right: 0;
                      height: 100%;
                      text-align: center;
                      color: #FFFFFF;
                    }
                    
                    #form .selectize-input, #form .form-control {
                      width: 120%;
                    }
                    
                    .info-box.bg-gradient-primary:hover {
                      box-shadow: 1px 2px #888888;
                      cursor: pointer;
                  }
                  
                  #shiny-tab-home .shiny-spinner-hidden {
                      position: absolute;
                      top: 100px;
                      right: 35% !important;
                      left: auto;
                      z-index: 1;
                      /* visibility: hidden; */
                  }
                  
                  /* For gauge chart loading symbol in home page */
                  #shiny-tab-home .load-container {
                      position: absolute;
                      top: 100px;
                      right: 35% !important;
                      left: auto;
                      z-index: 1;
                      /* visibility: hidden; */
                  }
                  
                  /* For gauge chart loaders in single centers page */
                  #Indices .load-container {
                      position: absolute;
                      top: 6em;
                      left: 2.5rem;
                      z-index: 1;
                      /* visibility: hidden; */
                  }
                  
                  /* For bar chart and line chart  loaders in single centers page */
                  .load-container.load1 .loader{
                      position: absolute;
                      top: 200px;
                      right: 0;
                      left: auto;
                      z-index: 1;
                  }
                  
                  .load-container.load1.shiny-spinner-hidden{
                      position: absolute;
                      top: 200px;
                      right: 0;
                      left: auto;
                      z-index: 1;
                  }
                  
                  #tab-survey {
                      background-color: #C2C7D0;
                      color: #212529
                  }
                  
                  /* #SingleCenters g.gauge-outline path {
                      stroke: white !important;
                  } */
                  
                    
